
  * {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif; 
    font-weight: 300;
  }


.glyphicon {
  padding-right: 2em;
 
}

.fa {
  padding-right: 1.6em;
}


.contact li, .skills li {
padding: .3em;
}
 
