
  * {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif; 
    font-weight: 300;
  }


.glyphicon {
  padding-right: 2em;
 
}

.fa {
  padding-right: 1.45em;
}

a:link, .gitlink, .gitlink:hover {
color:rgb(58, 58, 58)
}

.contact, .contactlink{
padding: .3em;
}
 
.glyphicon-heart {
  color: red;
}

.col-5 {

  text-align: right;
}

.col-4 div .col-5 div{
margin-bottom:
}
