
  * {
    box-sizing: border-box; 
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
  }

  .summary {
    text-align: center;
  }

  .texttitle {
    font-weight: 500;
 
  }

  .resumetitle {
    margin-bottom: 1em;
  }

  .flex-grid {
    display: flex;

  }
  .col {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;

  }


  .flex-grid {
    margin-bottom: 2em;

  }

  .resume {
    max-width: 700px;
  }
  .col-1 {
    background: #A4C6A5;
    max-width: 17em;
   
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  .content > article {
    flex: 4;
    min-height: 60vh;
  }
  header {
    background-image: url("../images/header6.png");
    background-size:auto;
    background-repeat: no-repeat;
    min-height: 27vh;
  }
  header, article, nav, footer {
    padding: 1em;
  }

  footer {
    text-align: center;
  }

h1, h2, h3, h4, h5 {
  font-family: 'Poiret One', cursive;
}

  ul {
list-style: none;
  }
