
  * {
    box-sizing: border-box; 
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    align-items: center;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;


  }


  .gitlink {
    margin-top: 1em;
    padding: .2em;
    color: white;
    background: #63C6C4;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
  }

.gitlink:hover {
  color: white;
  text-decoration: line-through;
}
  
  .experience {

  text-align: left;
  }

  .summary {
    text-align: center;
    margin-bottom: 2em;
  }

  .texttitle {
    font-weight: 500;
 
  }

  .resumetitle, .resumetitleprint {
    margin-bottom: 1em;
    border-bottom: 1px solid #63C6C4;
    width: 100%;
    /* bottom: 0; */
  }

  .hobbies {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #63C6C4;
    width: 100%;
    bottom: 0;
  }

  .flex-grid {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
  }

  .col {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
  }
  .resume {
    max-width: 700px;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  .content > article {
    flex: 1;
    min-height: 60vh;

  }


  header, article, nav {
    padding: 1em;
  }

  article {
    padding-top: 0;

  }

  footer {

    text-align: center;
    padding-left: 4em;
  }

h1, h2, h3, h4, h5 {
  font-family: 'Poiret One', cursive;
}

  ul {
list-style: none;
  }


.projectimg {
height: 10em;
padding-top: 1em;
padding-bottom: 1em;

}

.projectimg:hover {
transform: scale(2);

}