
  * {
    box-sizing: border-box; 
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
  }
  
 .title {
/* display: flex; */
margin-top: 8em;
margin-left: 9em;
margin-bottom: 2.5em;
 }
.nametitle {
padding-left: 1em;
}
 
.blurbtitle {
  font-size: 100%;
  padding-left: 1em;
 }

.skills, .contact {
  padding: 0;
}