
  * {
    box-sizing: border-box; 
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
  }
  
 .title {
/* display: flex; */
margin-top: 7.6em;
margin-left: 7.4em;
margin-bottom: 2em;
 }

.nametitle {
  font-size: 250%;
padding-left: .4em
}
 
.blurbtitle {
  font-size: 150%;
  padding-left: 1.20em;
 }

.skills, .contact {
  padding: 0;
}

nav h3 {
margin-top: 1.5em;
text-align: center;
}

.profilepic  {
height: 20em;
}