


  @media print {

    @page {
      margin-left: 5;
      margin: 0;
      zoom: 65%;
      /* width: 100%; */
    }

    .gitlink, footer, img{
     display: none;
    }

    content {
      text-align: center;

    }

    .hobbies, .resumetitle, .resumetitleprint {
      border-bottom: 1px solid #000;
    }
    a[href]:after {
     display: none;
     visibility: hidden;
     }

     .col-1 {
      display: flex;
      flex-direction: row;
  
    }

    header {
      text-align: center;
        background-image: none;
        min-height: 0;
  
    }
.title, .nametitle, .blurbtitle {
  text-align: center;
  margin: 0;
  /* padding-left: 0; */

}

    .col-4 {

      padding-left: 1em;
      padding-right: 2em;
      }

      body {
        width: 100%;    
    }

    /* .printbreak {
      padding: 1em;
      page-break-before: always;
    }
   */

  
 }
 