.hidden {
/* visibility: hidden; */
display: none;
}
  
  @media print {

    header, ooter, img{
     display: none;
    }
    a[href]:after {
     display: none;
     visibility: hidden;
     }

     .col-1 {
      display: flex;
      flex-direction: row;

  
    }

    .col-4 {

      padding-left: 1em;
      padding-right: 2em;
      }
 }
 